{% extends 'base.html' %}

{% block content %}

<h1>О психологии</h1>

<h4>Статья - Белый Лотос: психологический разбор сериала</h4>

<p>Сериал «Белый Лотос» иронизирует над всем, что принято считать слишком серьёзным, интимным или болезненным, чтобы
    поднимать это на смех. На фоне сицилийских закатов, гавайских рассветов и тайских полнолуний звучат шутки о том, о
    чем обычно люди говорят шёпотом — если говорят вообще. Это сериал-разрядка: от актуальных тревог, от табуированных
    тем, от современного дискурса, от чрезмерной психологизации.</p>
<p>Да, герои знают свои диагнозы и диагнозы своих матерей, принимают антидепрессанты и противотревожные, проговаривают
    свои тревоги и осознают свои травмы. Но сериал не предлагает им выздороветь — он смеется вместе с ними: над их
    неврозами, нарциссизмом, желанием трогать запретное и невозможностью быть взрослыми. В этом тексте разбираем все три
    сезона «Белого Лотоса» через призму психологических клише.</p>

<h4>Статья - Толстокожесть и тонкокожесть: психологическое объяснение</h4>

<p>Всем знакомы такие описания, как «толстокожий человек» или — противоположное — «человек с тонкой кожей». Обычно так
    говорят о людях, чья чувствительность к стрессовым обстоятельствам и сильным чувствам либо снижена, либо, напротив,
    очень высокая. Попробуем взглянуть на эти определения чуть глубже.</p>
<p>Конечно, речь идет не о физической коже, а психической — то есть о способе соприкасаться и взаимодействовать с
    окружающей реальностью и другими людьми. И толстая, и тонкая кожа специфическим образом защищают и возвращают
    чувство безопасности. И в обоих случаях речь идет о нарциссических проблемах человека — о большом дефиците,
    связанном с переживанием самоуважения и любви. Но люди обходятся с ним по-разному. Если личные отношения
    «толстокожего» человека развиваются по сценарию «Мне никто не нужен, я сам для себя достаточен», то девиз
    «тонкокожего» больше похож на «Я никому не нужен, мне всего недостаточно».</p>
<p>«Толстокожий» человек - Это прежде всего люди, которые с трудом выдерживают свою нужду в другом человеке, зависимость
    от него. Для них нет ничего хуже, чем обнаружить в себе эти чувства. Ведь если им что-то нужно от других, это
    значит, они сами этого лишены — а следовательно, неполноценны.

    К примеру, молодой мужчина начинает отношения с девушкой только из-за сексуального интереса — «чувства его не
    волнуют». Однако по мере того, как они встречаются, он обнаруживает, что привязывается к ней и хочет видеться чаще.
    Это открытие вызывает ужасный стыд и тревогу. Чувства настолько непереносимы, что мужчина бросает девушку: ему
    кажется, что так он вновь вернет себе утраченный контроль, независимость и равновесие.

    Чтобы защитить себя от чувства нужды и зависимости, «толстокожие» люди прибегают к обесцениванию важности и ценности
    отношений — дружеских, любовных, терапевтических. И чем лучше эти отношения, чем больше хорошего они содержат, тем
    труднее человеку их принимать и поддерживать. И тогда он склонен разрушать отношения, оставаясь в безопасном
    одиночестве. Как ни странно, это разрушение он принимает не как горестное событие, а скорее как личный триумф.
    Человек испытывает гордость за то, что ему никто не нужен, что он снова властен над своими чувствами и ни от кого не
    зависит.

    Другим толстокожие люди часто кажутся могучими, чрезмерно высокомерными, хладнокровными и абсолютно неуязвимыми.
    Однако именно в этом и состоит их главная человеческая слабость: за фасадной неуязвимостью и обесцениванием
    скрываются жгучая нужда и беспомощность, а еще чувство непереносимого стыда, которое эту нужду сопровождает.</p>

{% endblock %}