{% extends 'todo/base.html' %}

{% block content %}

<h1>Выполнены:</h1>

<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
            {% if todo.important %}
            <b>{{ todo.title }}</b>
            {% else %}
            {{ todo.title }}
            {% endif %}

            {% if todo.memo %}
                - {{ todo.memo }}
            {% endif %}
        </a>

        {{ todo.date_completed|date:"d.m.Y H:i" }}
    </li>
    {% endfor %}
</ul>



{% endblock %}