body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;

}

.menu{
    background: #003366;
    box-shadow: 0 2px 12px 2px #003366;
}

.menu ul{
list-style: none;
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 17px;
}

.menu a, li{
    color: #fff;
    text-decoration: none;
}


