
body{
    background: lightyellow;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: orange;
    padding: 20px;
    margin: 0;
}

.menu a{
    font-weight: bold;
    color:brown;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.flash{
    padding: 10px;

}

.success{
    border: 1px solid #21DB56;
    background: #ecf9f0;
}

.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

ul{
    list-style: none;
    padding: 0;
    
    
p > a{
text-decoration: none;
color: brown;
}

li > p, li div{
    border: 1px solid #CCC;
    padding: 10px 20px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background: gold;
    display: block;
}

p.title a{
    display: block;
    padding: 10px 0;
}

p.title:hover{
    background: orange;
}

.annonce{
    margin-top: -1px;
    margin-bottom: 40px;
    background: #fff;
}
