<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'skills/favicon.ico '%}"
</head>
<body>


<div class="menu">
    <div class="wrap">
        <div class="menu_header">
        {% if user.is_authenticated %}
        <div class="logo">
                <a href="{% url 'index' %}">
                <img src="{% static 'skills/logo.png' %}" alt="" class="image">
            </a>
        </div>
        <ul class="menu_total">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">Блог</a></li>
            <li><a href="{% url 'currenttodos' %}">Задачи</a></li>
            <li><a href="{% url 'createtodo' %}">Создать</a></li>
<!--            <li><a href="{% url 'currenttodos' %}">Актуальные</a></li>-->
            <li><a href="{% url 'completedtodos' %}">Выполненные</a></li>
            <li><a href="{% url 'trashbin' %}">Корзина</a></li>
<!--            <li><a href="{% static 'skills' %}" target="_blank">Резюме</a></li>-->
<!--            <li><a href="{% static 'skills/resume.pdf' %}" target="_blank">Резюме</a></li>-->
<!--            <li><a href="{% static 'skills' %}" target="_blank">Резюме</a></li>-->
<!--            <li><a href="{% static 'skills' %}">Навыки</a></li>-->
        </ul>
            <ul class="menu_second">
                <li class="logo2">Пользователь: {{ user.username }}</li>

                <li>
                    <form action="{% url 'logoutuser' %}" method="post">
                        {% csrf_token %}
                        <button class="top">Выйти</button>
                    </form>
                </li>
                {% else %}
                <li class="menu_login"><a href="{% url 'signupuser' %}">Зарегистрироваться</a></li>
                <li class="menu_login"><a href="{% url 'loginuser' %}">Вoйти</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>




<!--<div class="menu">-->
<!--    <div class="wrap">-->
<!--        <ul>-->
<!--            {% if user.is_authenticated %}-->
<!--        <li class="logo">Пользователь: {{ user.username }}</li>-->
<!--            <li><a href="{% url 'index' %}">Главная</a></li>-->
<!--             <li><a href="{% url 'blogs' %}">Блок</a></li>-->
<!--            <li><a href="">Выйти</a></li>-->
<!--            {% else %}-->

<!--            {% endif %}-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>