@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
font-family: "Roboto", sans-serif;
background: #ccccff;
padding: 0;
margin: 0;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.element, .count{
    flex-basis: 360px;
    background: lightyellow;
    border: 6px solid #fff;
    margin-bottom: 60px;

}

.block img{
    max-width: 360px;
}

.text{
    padding: 20px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 60px 0 40px;
}

h2{
    text-align: center;
    margin: 20px 0;
}

.img{
    text-align: center;
    margin-bottom: 60px;
}

.img img {
    border: 6px solid #fff;
}

.top{
    background: #663366;
    margin: 0;
    
}

.top a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: left;
}

.blog{
    padding: 20px;
    box-sizing: border-box;
}

.count{
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: left;
}

.detail{
    background: #f9f9da;
    padding: 20px 20px 60px;
    box-sizing: border-box;
}

.image{
    width: 68px;
    height: 68px;
}

.menu{
    background: lightyellow;
    padding: 10px;
    border-bottom: 6px solid #fff;
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #663366;
    font-weight: bold;
    text-decoration: none;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;

}

.menu li{
    margin-left: 40px;
}