
body {

    background-color: rgb(244, 244, 120);
}

.container {
    width: 400px;
    margin: 0 auto;

}

.container h1{
    text-align: center;
}

.container form, .container h2{
    background: rgb(255, 179, 47);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}

fieldset {
 margin-top: 80px;
}

legend {
    font-size: large;
    font-weight: bold;
    color: rgb(18, 18, 112);
}

ol li {
    font-size: medium;
    font-weight: lighter;
    color: red;
}

.rule {
    display: block;
    margin-top: 40px;
    font-size: 25px;
    color: red;
}


